* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: monospace;
}

.App {
  width: 100vw;
  min-width: 320px;
  height: 100vh;
  background-color: rgb(73, 141, 60);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.display-container {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:default;
}

.display-text {
  height: 55%;
  width: 50vw;
  background-color: rgb(44, 44, 44);
  box-shadow: 0px 4px 10px 0px rgba(141, 140, 140, 0.75);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 1.6em;
  text-align: center;
}

.main-container {
  background: rgb(80,213,183);
  background: linear-gradient(57deg, rgba(80,213,183,1) 25%, rgba(6,125,104,1) 75%);
  width: 75vw;
  min-width: 320px;
  height: 90%;
}

.choose-container {
  padding: 0px 20px;
  height: 50%;
}

.choose-text {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.choose-section {
  display: flex;
  justify-content: center;
  height:initial;
}

.choose-img {
  width:10vh;
  height: auto;
  margin: 0px 5px 0 5px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.1s linear;
}

.choose-img:hover {
  transform: scale(1.1);
}

.playBtn-container {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playBtn {
  background-color: rgb(62, 230, 84);
  width: 170px;
  height: 50px;
  border: 3px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}


.hidde {
  display: none;
}

footer {
  position: absolute;
  bottom: 5%;
  left: 15%;
}

@media (max-width: 370px) {
    .display-text {
      height: 55%;
      width: 50vw;
      font-size: 1.1em;

    }
  }
}